<div class="noticias">
    <div class="noticia">
        <div class="bg-white">
            <div class="container">
                <div class="main">
                    <div class="section section-basic">
                        <div class="row" style="position: relative;">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <p class="noticia-head"><span class="text-underline">WORKSHOP NEWS</span> <span
                                        class="noticia-numero">#1</span></p>
                                <h2>Existe uma Suécia que a gente conhece. E outra que a gente vai conhecer.</h2>
                                <p>O senso comum você já sabe: estamos em um país onde faz muito frio, com uma excelente
                                    qualidade de vida, que tem um dos maiores IDHs do planeta, serviços públicos bons
                                    para todos e que já enfrentou o Brasil em várias Copas do Mundo, inclusive numa
                                    final (1958).</p>
                                <p>Indo um passo além, a Suécia é o terceiro maior país em área territorial da União
                                    Europeia, tem uma população de 10 milhões de habitantes, 85% dela vivendo no Sul, já
                                    que o norte é frio e congelado durante boa parte do ano. É uma monarquia
                                    constitucional com um sistema parlamentar de governo e um monarca com funções
                                    unicamente representativas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallaxed-container">
            <img class="img-responsive" src="images/noticias/noticias-1/site-NEWS-imagens-full_02.jpg" alt="">
        </div>
        <div class="bg-white">
            <div class="container">
                <div class="main">
                    <div class="section section-basic">
                        <div class="row" style="position: relative;">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <p>Estocolmo é a capital e o principal centro urbano, cultural, político, financeiro,
                                    comercial e administrativo da Suécia, desde o século XIII. E acredite: a cidade é
                                    composta por 14 ilhas. Nelas, vive um milhão de habitantes, uma população bilíngue
                                    em uma fabulosa cena de inovação, só perdendo em quantidade de unicórnios para os
                                    Estados Unidos (um país com mais de 300 milhões de habitantes).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallaxed-container">
            <img class="img-responsive" src="images/noticias/noticias-1/site-NEWS-imagens-full_04.jpg" alt="">
        </div>
        <div class="bg-white">
            <div class="container">
                <div class="main">
                    <div class="section section-basic">
                        <div class="row" style="position: relative;">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <p>Vamos então entender esse espírito de inovação e empreendedorismo? O universo de
                                    startups de tecnologia da Suécia tem atraído muito a atenção internacional nos
                                    últimos anos, mas a verdade é que a sociedade sueca há muito incentiva a inovação e
                                    o empreendedorismo. Existem vários fatores que podem explicar esse sucesso, desde a
                                    estabilidade social do país e o apoio do governo, assim como um alto grau de
                                    igualdade de gênero (por exemplo: 12 dos 22 ministros do país são mulheres). Bom, e
                                    a educação? Sim, o foco de longo prazo da Suécia em educação gratuita de qualidade
                                    também teve um grande impacto na capacidade de inovação. Hoje, o país é considerado
                                    o oitavo melhor do mundo quando se pensa em educação.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallaxed-container">
            <img class="img-responsive" src="images/noticias/noticias-1/site-NEWS-imagens-full_06.jpg" alt="">
        </div>
        <div class="bg-white">
            <div class="container">
                <div class="main">
                    <div class="section section-basic">
                        <div class="row" style="position: relative;">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <p>Quando se trata de pesquisa e desenvolvimento (R&D), a Suécia investe mais de 3% do
                                    produto interno bruto (PIB) do país. Ou seja, mais do que a União Europeia (2,03%),
                                    que a média mundial (2,1%,) e que os Estados Unidos (2,7 %).</p>

                                <p>Além disso, uma rede de suporte ao empreendedorismo tem sido fundamental para o
                                    desenvolvimento de um ambiente de baixo risco no caso de um projeto não decolar:
                                    grupos, empresas e instituições que formam uma rede de segurança social que estimula
                                    o risco.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallaxed-container">
            <img class="img-responsive" src="images/noticias/noticias-1/site-NEWS-imagens-full_08.jpg" alt="">
        </div>
        <div class="bg-white">
            <div class="container">
                <div class="main">
                    <div class="section section-basic">
                        <div class="row" style="position: relative;">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <p>Na área da tecnologia digital e internet temos dois fatores importantes: nos anos
                                    1990, o governo sueco ofereceu uma redução de impostos para compra de computadores
                                    pessoais. Somado a isso, já em 1994, quando a internet comercial estreava no Brasil,
                                    Estocolmo construiu a maior rede de banda larga do mundo, conectando 100 % das
                                    empresas e 90% das residências nessa infraestrutura.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallaxed-container">
            <img class="img-responsive" src="images/noticias/noticias-1/site-NEWS-imagens-full_10.jpg" alt="">
        </div>
        <div class="bg-white">
            <div class="container">
                <div class="main">
                    <div class="section section-basic">
                        <div class="row" style="position: relative;">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <p>Abertos às novas ideias e com um senso coletivo forte, os empresários do país também
                                    passaram a concentrar seus esforços em encontrar soluções que resolvam problemas
                                    reais da sociedade - e, uma vez dando certo, se comprometem a dar um retorno à
                                    população do país. </p>
                                <p>Com todas essas características, Estocolmo é um dos locais mais fascinantes no
                                    planeta para aprendermos novas formas de inovar e tomar contato com ideias
                                    surpreendentes que nos inspirarão. Assim, poderemos lidar melhor com as mudanças
                                    tecnológicas que já vieram e com as que ainda estão por vir, impulsionando nossos
                                    negócios.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>